body{
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
h1{
	color: #888;
	text-align: center;
}
.box{
	width: 320px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	margin: 20px 0;
	border-radius: 8px;
	border: 1px solid #c6c6c6;
}
.box .button{
	width: 37px;
	height: 37px;
	border: 1px solid #c6c6c6;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 22px;
	cursor: pointer;
}

.box .button:active{
	background: greenyellow;
}

.box input{
	width: 60px;
	padding: 5px 10px;
	border: 1px solid #c6c6c6;
	border-radius: 5px;
	font-size: 22px;
	margin: 0 10px;
}
